    /* Hide scrollbar for Chrome, Safari and Opera */
 *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

    
    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(120deg, #ff9a9e, #fad0c4);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* height: 100vh; */
      /* overflow: hidden; */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      
    }
    #parent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container {
      max-width: 600px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }

    h1 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
    }

    canvas {
      position: fixed;
      top: 0;
      left: 0;

    }
    #main-div{
        background-color: #fad0c4;
        width: 100vw;
        height: 100vh;
        border:1px solid black;
        
    }
    .img-container{
        height: 100%;
        width: 100%;
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
    }
    .box{
        height: 100px;
        width: 125px;
        border: 1px solid black; 
       
    }
    .row > .box{
        float: left;
        
    }
    .row{
        border:1px solid blue;
    }
    .img{
        height: 100%;
        width: 100%;
    }
   

